@import url('./fonts.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Variables */
:root {
    --primary-color: rgba(255, 117, 0, 1);
    --secondary-color: rgba(253, 60, 0, 1);
    --tertiary-color: rgba(0, 0, 0, 1);
    --neutral-color: rgba(242, 242, 242, 1);
    --text-font: 'Noto Sans', system-ui, -apple-system, sans-serif;

    /* Variable de degradado */
    --degrade: linear-gradient(90deg, var(--secondary-color) 0%, var(--primary-color) 100%);
}
/* Variables end */

body {
    font-family: var(--text-font); font-weight: normal; font-style: normal;
}