.data-table-lists .header-index {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

/* Visualizacion de chats */
.direct-chat-messages {
  height: auto !important;
}
/* Visualizacion de chats end */
