.login-box .card-primary.card-outline {
  border-top: 3px solid var(--primary-color);
}

.login-box .card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-box .card-header a {
  margin: 0;
}

.login-box .card-header::after {
  display: none;
}

.login-box .forgotPass {
  color: var(--primary-color);
}

.login-box ul {
  padding-left: 16px;
}

.login-box ul li {
  text-align: left;
}

.login-page .messageStatus {
  color: green;
}

.login-page a {
  color: var(--primary-color) !important;
}

.login-page a:hover {
  opacity: 0.6;
}
