.login-box .card-primary.card-outline {
  border-top: 3px solid var(--primary-color);
}

.login-box .forgotPass {
  color: var(--primary-color);
}

.login-box ul {
  padding-left: 16px;
}

.login-box ul li {
  text-align: left;
}

.login-page .messageStatus {
  color: green;
}
