.resetPassword .card-primary.card-outline {
  border-top: 3px solid var(--primary-color);
}

.login-box .card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.login-box .card-header span {
  margin: 0;
}

.login-box .card-header::after {
  display: none;
}

.resetPassword .h1 {
  color: var(--primary-color);
}

.resetPassword ul {
  padding-left: 16px;
}

.resetPassword ul li {
  text-align: left;
}
